<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/index.css') }}">
  </head>

  <body>

    <form action="/process" method="post">
      <div class="form-group">
        <h1>Dojo Survey</h1>
        <label for="exampleFormControlInput1">Name:</label>
        <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Dojo Location:</label>
        <select name="loca_select" class="form-control" id="exampleFormControlSelect1">
          <option value="none"></option>
          <option>Chicago</option>
          <option>LA</option>
          <option>Seattle</option>
          <option>Miami</option>
          <option>Folrida</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Favorite Languages:</label>
        <select name="lang_select" class="form-control" id="exampleFormControlSelect2">
          <option value="none"></option>
          <option value="py">Python</option>
          <option value="html">HTML</option>
          <option value="css">CSS</option>
          <option value="java">JAVA</option>
          <option value="js">JS</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Comments:</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          name="comment"
        ></textarea>
      </div>
      <p>Are you new to coding?</p>
      <input type="checkbox" name="checks" id="option1" value="yes"> Yes </input><br>
      <input type="checkbox" name="checks" id="option2" value="no"> No </input><br>

      <p>Are you liking dojo?</p>
      <input type="radio" name="options" id="option1" value="yes"> Yes </input><br>
      <input type="radio" name="options" id="option2" value="no"> No </input><br>

      <button type="submit" class="btn btn-warning">Submit</button>


    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p class="msg">{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
      {% endif %}
      {% endwith %}
    </form>

  </body>
</html>
