<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <style>

        .header{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        form{
            position: relative;
            left:260px;
        }

        .form-group{
            margin: 15px;
        }

        input{
            width:300px;
        }

        button{
            position: relative;
            left: 15px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Add a New User</h1>
        <a href="/">Home</a>
    </div>
    
    <form action='/create_user' method="POST">
        <div class="form-group">
          <label for="fn">First Name:</label><br>
          <input type="text" name="fname" id="fn">
        </div>

        <div class="form-group">
          <label for="ln">Last Name:</label><br>
          <input type="text" name="lname" id="ln">
        </div>

        <div class="form-group">
          <label for="em">Email:</label><br>
          <input type="text" name="email" id="em">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
</body>
</html>