<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>authors show</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='/css/style.css') }}"
    />
    <style>
      label {
        float: left;
        width: 50px;
      }

      input,
      label {
        margin: 5px 0px;
      }

      span {
        display: block;
        overflow: hidden;
        padding: 0px 4px 0px 6px;
      }

      body {
        display: flex;
        justify-content: space-around;
        padding: 100px;
      }

      .left,
      .right {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    </style>
  </head>
  <body>
    <div class="left">
      <h1>J.K. ROWLING'S FAVORATES</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col"># of pages</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="right">
      <h1>Add Author's favorite</h1>
      <form action="" method="post">
        <label for="bn">Book:</label>
        <span>
          <select
            class="form-select"
            aria-label="Default select example"
            id="bn">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select></span
        >
      </form>

      <input type="button" class="btn btn-primary" value="Add" />
    </div>
  </body>
</html>
