<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dragon page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
  </head>
  <body>
    <div class="flex1">
      <p>
        A pop of glass opening, bright light seeps inside. A gentle hand the
        length of my body picks me up from under my arms and seats me in a
        dollhouse armchair. I watch as the giant girl in the Facility's uniform
        scrubs her hands in a sink as large as a swimming pool. She is a kind of
        nurse, I think. My wife was a nurse, though in our day, the Facility
        didn’t exist. I am handed a pair of sunglasses while my eyes adjust to
        the natural light.
      </p>

      <p>What will you do?</p>
    </div>

    <div class="flex2">
      <a href="">run away</a>
      <a href="">eat candy</a>
    </div>
  </body>
</html>
