<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>run page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
  </head>
  <body>
    <div class="flex1">
      <p>
        She waited for 15 minutes after the sliver of light beneath her bedroom
        door disappeared. Once she was sure her parents were asleep, Sadie slid
        the window up and stole down the trellis. The autumnal air swished down
        into her lungs — crisp, chilly, and delicious. She landed like a cat,
        crouched, hands on the floor. Sadie didn’t need to jump the last of the
        way to the ground, but where would the fun be in not doing that? Her
        ten-speed leaned next to the bins — where she’d left it. With a glance
        up at the droopy eyes of the house, she hopped on her bike and cycled
        off into the night. After half a minute, she clicked her torch on and
        plopped it into the basket. The beam sliced through the evening’s ink.
      </p>

      <p>What will you do?</p>
    </div>

    <div class="flex2">
      <a href="">Go left</a>
      <a href="">Go right</a>
    </div>
  </body>
</html>
