<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
  </head>
  <body>
    <div class="flex1">
      <p>
        The King sat on his throne, legs swinging in the afternoon sun. The
        wilderness spread out before him — a boy’s paradise of twisting dirt
        tracks webbed with ancient tree roots, full of shady hollows and secret
        hideaways. Behind him, the copse thinned until it met the road that
        would take you back to the village, but before him was the arena of
        countless battles, the base camp of every perilous expedition, a land of
        untold adventure. And — for today at least — it was all his. “Halt!” he
        shouted. “Who goes there?” The little girl looked up at the boy sat in
        the tree. Long before either of them had been born a storm had done its
        best to uproot it, but the tree was an obstinate one and it had refused
        to give up its claw-like grip on the earth. Now it was a twisted and
        gnarled thing, bent over like an old man. It was perfect for climbing
        and the thickest branch dipped in just the right place to form a seat
        directly above the path.
      </p>

      <p>What will you do?</p>
    </div>

    <div class="flex2">
      <a href="/dragon">Poke the dragon</a>
      <a href="/dragon/run">run away</a>
    </div>
  </body>
</html>
